<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479300038254-fs29pehs2jalla9b9e1q4qpaemkkkcnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479300038254-fs29pehs2jalla9b9e1q4qpaemkkkcnu</string>
	<key>API_KEY</key>
	<string>AIzaSyD64OmG0ygqWJ-1hL9-pu_TS4QPhtwHEvo</string>
	<key>GCM_SENDER_ID</key>
	<string>479300038254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankingApp</string>
	<key>PROJECT_ID</key>
	<string>banking-app-5dba2</string>
	<key>STORAGE_BUCKET</key>
	<string>banking-app-5dba2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479300038254:ios:ae1e85af6b89c08ab0007f</string>
</dict>
</plist>